/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap.scss";
.Container-header {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.title {
    

    align-self: flex;
    margin: 20px;
}
.prices { 
    
     align-self: center;
     margin-left: auto;

}

.prime{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: auto;
    
}
.Container-product {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}

.product-images { 
    flex-grow: 1;

    align-self: flex;
    width: 500px;
    height: 500px;
}
.calculator {
    flex-grow: 1;
    
    align-self: flex;
    margin-left: auto;
    margin-right: auto;
   
}
.stats {
    display: flex;
    flex-direction: row;
}

.detail {
    flex-grow: 1;
}
.description {
    flex-grow: 1;
}

.Navbar {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.formlogin {

  flex-grow: 1;
  margin-top: 20px;
}

.makeproduct {
  
    display: flex;
    justify-content: center;
}